<div class="list-group mb-5">
  <a href="https://maps.google.com/?q={{venues.venue.location.lat}},{{venues.venue.location.lng}}" class="list-group-item list-group-item-action" *ngFor="let venues of venueInfo">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{venues.venue.name}}</h5>
    </div>
    <p>Location: {{ venues.venue.location.formattedAddress[0] }} {{ venues.venue.location.formattedAddress[1] }} {{ venues.venue.location.formattedAddress[2] }}</p>
    <i class="fas fa-map"></i>&nbsp;<small>Find in Google Maps</small>
  </a>

</div>
<!--<div class="accordion" id="accordionExample" >-->
<!--  <div class="card" *ngFor="let x of venueInfo">-->
<!--    <div class="card-header" id="headingOne">-->
<!--      <h2 class="mb-0">-->
<!--        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
<!--          <i class="fas fa-store"></i> {{ x.venue.name}}-->
<!--        </button>-->
<!--      </h2>-->
<!--    </div>-->

<!--    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">-->
<!--      <div class="card-body d-flex">-->
<!--        <span style="color: Tomato; margin-right: 3px;">-->
<!--          <i class="fas fa-location-arrow"></i>-->
<!--        </span>-->
<!--        &lt;!&ndash;<a href="{{venue.venue.location.latitude}}"></a>&ndash;&gt;-->
<!--         <p>Location: {{ x.venue.location.formattedAddress[0] }} {{ x.venue.location.formattedAddress[1] }} {{ x.venue.location.formattedAddress[2] }}</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
